@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PulpenSnowman';
  src: url('/public/assets/fonts/PulpenSnowman.ttf');
}

@font-face {
  font-family: 'PulpenSnowmanLight';
  src: url('/public/assets/fonts/PulpenSnowmanLight.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  cursor: none;

  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}