@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PulpenSnowman';
  src: url('/public/assets/fonts/PulpenSnowman.ttf');
}

@font-face {
  font-family: 'PulpenSnowmanLight';
  src: url('/public/assets/fonts/PulpenSnowmanLight.ttf');
}

@font-face {
  font-family: 'ComicFutara';
  src: url('/public/assets/fonts/ComicFuturaRegular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  cursor: none;
  -webkit-cursor: none;
}

body {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Calibre', -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  color: #0E7F81;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}

/* 
.app_container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}

.page {
  scroll-snap-align: start;
} */